<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Attributor04.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18DDDFE91DA35AA70008B2EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DDE0021DA35AA80008B2EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DDE00D1DA35AA80008B2EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
